.empty_data_fields {
    -fx-background-color: rgba(255,0,0,0.3);
}

.valid_data_fields {
    -fx-background-color: white;
}

.short_items {
    -fx-background-color: red;
}

.short {
    -fx-background-color: red;
    }